<div id='<%= dom_id line_item %>'>
  <% if action_name != 'show' %>
  <% end %>
</div>

<div class='flex items-center pb-2'>
  <div class='pr-1'> <%= line_item.quantity %> </div>
  <div class='pr-3'> &times; </div>
  <div class='w-20'> <%= image_tag(line_item.product.image_url, class: 'object-scale-down h-16') %> </div>
  <div class='text-sm text-stone-500'> <%= truncate(strip_tags(line_item.product.title), length: 15) %> </div>
  <div class='text-right text-sm font-bold text-stone-500'> <%= number_to_currency(line_item.total_price) %> </div>
</div>
