<!DOCTYPE html>
<html>
  <head>
    <title>Café Brazil</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <%= image_tag 'temporary1.png', alt: 'cafe-brazil', class:'object-cover' %>
      <h1> <%= @page_title %> </h1>
      <%= render partial: "shared/navbar" %>
    </header>
 
    <section class="flex">
      <main class='container mx-auto mt-4 px-5 flex'>
        <%= yield %>
      </main>
    </section>
    
  </body>
</html>
